<div class="uk-card uk-card-small uk-card-default">
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto" *ngIf="image">
          <img class="uk-border-circle" width="50" height="50" [src]=[image]>
        </div>
        <div class="uk-width-expand">
          <h5 class="uk-card-title uk-margin-remove-bottom">{{ title }}</h5>
          <p class="uk-text-meta uk-margin-remove-top">{{ date.toLocaleString() }}</p>
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <p>{{ content }}</p>
    </div>
    <div class="uk-card-footer" *ngIf="footer">
      <a href="#" class="uk-button uk-button-text">Read more</a>
    </div>
  </div>
