root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cpp,hpp,h,in}]
curly_bracket_next_line = true
indent_brace_style = Allman

[*.{html,json,xml}]
indent_size = 2

[*.{cmd, bat}]
end_of_line = crlf
