body {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
  background-color: dimgray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow-y: hidden;
}

.ajanda {
  padding-top: 7.5%;
  background-image: radial-gradient(center top, ellipse cover, #224B61, #161d20);
	background-image: -o-radial-gradient(center top, ellipse cover, #224B61, #161d20);
	background-image: -ms-radial-gradient(center top, ellipse cover, #224B61, #161d20);
	background-image: -moz-radial-gradient(center top, ellipse cover, #224B61, #161d20);
	background-image: -webkit-radial-gradient(center top, ellipse cover, #224B61, #161d20);
}

#icerik {
  background: #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  min-width: 90%;
}

#icerik:hover {
  box-shadow: 0 14px 50px rgba(0,0,0,0.75), 0 10px 10px rgba(0,0,0,0.5);
}

#menu {
  margin: 0px;
  padding: 0px;
  border-top-left-radius: 25px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
  background-color: #D21B59;
}

#akis {
  border-top-right-radius: 25px;
  background: #34495E;
  padding: 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

aside {
  border-top-left-radius: 25px;
}

* {
  font-family: 'Roboto', sans-serif;
}
