
#liste .ust-bar {
  padding-left: 0px;
  height: 25px;
  background: rgba(0, 0, 0, 0.1);
}

.isler {
  position: relative;
  top: 5%;
  min-width: 100%;
  overflow-y: auto;
  height: 80vh;
  padding-bottom: 5px;
  overflow-x: hidden;
}

.isler ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.isler input[type=checkbox] {
  display: none;
}

.isler label {
  background: #34495E;
  height: 69px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #2C3E50;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  padding: 5px 5px 5px 70px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.isler label h2 span {
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: normal;
  color: #bdc3c7;
}

.isler label:before {
  content: "";
  width: 19px;
  height: 19px;
  border: 1px solid #416282;
  display: block;
  position: absolute;
  border-radius: 100%;
  left: 20px;
  top: 30%;
  transition: border 0.7s ease;
  z-index: 9999;
}

.isler label:after {
  content: "";
  width: 60px;
  height: 68px;
  background: #2C3E50;
  position: absolute;
  left: 0;
  top: 0;
}

.isler input[type=checkbox]:checked + label {
  background: #2C3E50;
  color: #1ABC9C;
  text-decoration: line-through;
}

.isler input[type=checkbox]:checked + label h2 span {
  color: #1ABC9C;
}

.isler input[type=checkbox]:checked + label:before {
  background: #1abc9d no-repeat center center;
  border: 10px solid #1abc9d;
}

.isler li:first-child label {
  padding-top: 25px;
  height: 100px;
  text-transform: capitalize;
  font-size: 15px;
}

.isler li:first-child label:before {
  top: 40%;
}

.isler li:first-child label:after {
  height: 100px;
}

.listeGirdisi input {
  top: 0%;
  width: 100%;
  vertical-align: middle;
  height: 47px;
  font-size: 16px;
  display: block;
  border: none;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -2000px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 0px 10px;
}

.listeGirdisi input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
  box-shadow: 0 14px 50px rgba(0,0,0,0.75), 0 10px 10px rgba(0,0,0,0.5);
}

.listeGirdisi input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #1abc9c;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: collapse !important;
}

.isler::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #34495E;
}

.isler::-webkit-scrollbar
{
	width: 12px;
	background-color: #34495E;
}

.isler::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #1abc9c;
}