#takvim .top-bar {
  width: 100.125%;
  height: 25px;
  background: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 25px;
}

.c-calendar {
  margin: 0px 0px;
  min-width: 100%;
  border-radius: 1px;
  height:83vh;
}