#zaman #tarihAlani {
  float: right;
  padding-right: 5%;
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 0px;
  margin-top: -90px;
  color: white;
}

#zaman #saatAlani {
  float: right;
  padding-right: 5%;
  font-size: 18px;
  font-weight: 300;
  margin-top: -110px;
  color: white;
}

#zaman ul {
  list-style: none;
}

#zaman li {
  display: inline;
}

#akis {
  padding: 5%;
}