<div class="uk-tile uk-tile-default">

  <ul class="uk-breadcrumb">
    <li>
      <a href="#" routerLink="/home">Ajanda</a>
    </li>
    <li>
      <a href="#" routerLink="/weekly/home">Haftalık</a>
    </li>
  </ul>

  <hr class="uk-divider-icon">

  <div class="uk-section uk-section-default">

    <div style="width: 100%">
      <a class="uk-link-muted uk-text-meta" (click)="decrementWeek()"><< Önceki Hafta</a>
      <a class="uk-link-muted uk-text-meta" style="float: right;text-align: right;" (click)="incrementWeek()">Sonraki Hafta >></a>

      <div class="uk-text-center">
          <span class="uk-link-muted uk-text-lead">
            {{ dates[0].toLocaleDateString() }} - {{ dates[6].toLocaleDateString() }}
          </span>
      </div>
    </div>
    <br />

    <div class="uk-child-width-1-5@m uk-grid-collapse uk-grid-match" uk-grid>

      <div *ngFor="let item of dates; let i = index">
        <div class="uk-tile uk-padding-small" [class.uk-tile-primary]="i%2==0" [class.uk-tile-secondary]="i%2!=0">
          <p class="uk-h4">{{ dates[i].toLocaleDateString('tr', { weekday: 'long' }) }} <small>({{ dates[i].toLocaleDateString() }})</small></p>
          <hr />
          <ul class="uk-list">
              <li>List item 1</li>
              <li>List item 2</li>
              <li>List item 3</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>
