<div class="uk-tile uk-tile-default">

  <!-- TODO: Gerisayımı kaldır -->
  <div class="uk-text-center" uk-grid uk-countdown="date: 2017-10-01T00:00:00+03:00">
    <div class="uk-width-expand@s">
      <div class="uk-countdown-number uk-countdown-days"></div>
      <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Gün</div>
    </div>
    <div class="uk-width-expand@s uk-countdown-separator">:</div>
    <div class="uk-width-expand@s">
      <div class="uk-countdown-number uk-countdown-hours"></div>
      <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Saat</div>
    </div>
    <div class="uk-width-expand@s uk-countdown-separator">:</div>
    <div class="uk-width-expand@s">
      <div class="uk-countdown-number uk-countdown-minutes"></div>
      <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Dakika</div>
    </div>
    <div class="uk-width-expand@s uk-countdown-separator">:</div>
    <div class="uk-width-expand@s">
      <div class="uk-countdown-number uk-countdown-seconds"></div>
      <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Saniye</div>
    </div>
  </div>

  <hr class="uk-divider-icon">

  <div class="uk-text-center">
    <p class="uk-h2">Lütfen, etkinleştirmek istediğiniz bileşeni yan menüden seçiniz.</p>
    <p class="uk-h5">s2.0.0 ile birlikte burada birleştirilmiş akışın gösterilmesi planlanmaktadır.</p>
  </div>

</div>
