<div class="ui fluid container">
  <div class="ui grid">
    <div class="row">

      <div class="sixteen wide column">
        <div class="ui breadcrumb inverted">
          <i class="big github icon"></i>
          <span class="section">GitHub</span>
          <div class="divider"> / </div>
          <div class="section">
            <avatar [avatarLink]="user?.avatar_url" [name]="user?.name" [bio]="user?.bio"></avatar>
            <span> {{ user?.name }} </span>
          </div>
          <div class="divider"> / </div>
          <span class="active section">Akış</span>
        </div>


      </div>

    </div>
    <div class="row">

      <div class="six wide column">
        <h2 class="ui inverted header" style="padding-left:1rem;">
          <i class="feed icon"></i>
          <div class="content">
            Akış
          </div>
        </h2>
        <div class="ui inverted message">
          <div class="ui inverted feed">

            <div class="event" *ngFor="let event of receivedEvents">
              <div class="label">
                <avatar [avatarLink]="event?.actor.avatar_url" [name]="event?.actor.login"></avatar>
              </div>
              <div class="content">
                <div class="summary">
                  <a> {{ event?.actor.login }} </a>
                  <span [ngSwitch]="event?.type">
                    <span *ngSwitchCase="'CommitCommentEvent'">CommitCommentEvent</span>
                    <span *ngSwitchCase="'CreateEvent'">
                      <span *ngIf="event?.payload.ref_type=='repository'"> bir proje oluşturdu.</span>
                    </span>
                    <span *ngSwitchCase="'DeleteEvent'">DeleteEvent</span>
                    <span *ngSwitchCase="'DeploymentEvent'">DeploymentEvent</span>
                    <span *ngSwitchCase="'DeploymentStatusEvent'">DeploymentStatusEvent</span>
                    <span *ngSwitchCase="'DownloadEvent'">DownloadEvent</span>
                    <span *ngSwitchCase="'FollowEvent'">FollowEvent</span>
                    <span *ngSwitchCase="'ForkEvent'"> bir projeyi çatalladı.</span>
                    <span *ngSwitchCase="'ForkApplyEvent'">ForkApplyEvent</span>
                    <span *ngSwitchCase="'GistEvent'">GistEvent</span>
                    <span *ngSwitchCase="'GollumEvent'">GollumEvent</span>
                    <span *ngSwitchCase="'IssueCommentEvent'">IssueCommentEvent</span>
                    <span *ngSwitchCase="'IssuesEvent'">IssuesEvent</span>
                    <span *ngSwitchCase="'LabelEvent'">LabelEvent</span>
                    <span *ngSwitchCase="'MemberEvent'">MemberEvent</span>
                    <span *ngSwitchCase="'MembershipEvent'">MembershipEvent</span>
                    <span *ngSwitchCase="'MilestoneEvent'">MilestoneEvent</span>
                    <span *ngSwitchCase="'OrganizationEvent'">OrganizationEvent</span>
                    <span *ngSwitchCase="'PageBuildEvent'">PageBuildEvent</span>
                    <span *ngSwitchCase="'ProjectCardEvent'">ProjectCardEvent</span>
                    <span *ngSwitchCase="'ProjectColumnEvent'">ProjectColumnEvent</span>
                    <span *ngSwitchCase="'ProjectEvent'">ProjectEvent</span>
                    <span *ngSwitchCase="'PublicEvent'"> bir projeye erişimi herkese açtı.</span>
                    <span *ngSwitchCase="'PullRequestEvent'">PullRequestEvent</span>
                    <span *ngSwitchCase="'PullRequestReviewEvent'">PullRequestReviewEvent</span>
                    <span *ngSwitchCase="'PullRequestReviewCommentEvent'">PullRequestReviewCommentEvent</span>
                    <span *ngSwitchCase="'PushEvent'">
                      <span *ngIf="event?.payload.commits"> bir projeye katkıda bulundu:  <a href="#">{{ event?.repo.name }}</a></span>
                    </span>
                    <span *ngSwitchCase="'ReleaseEvent'">ReleaseEvent</span>
                    <span *ngSwitchCase="'RepositoryEvent'">RepositoryEvent</span>
                    <span *ngSwitchCase="'StatusEvent'">StatusEvent</span>
                    <span *ngSwitchCase="'TeamEvent'">TeamEvent</span>
                    <span *ngSwitchCase="'TeamAddEvent'">TeamAddEvent</span>
                    <span *ngSwitchCase="'WatchEvent'"> bir projeyi yıldızladı.</span>
                    <span *ngSwitchDefault>{{ event?.type }}</span>
                  </span>
                  <div class="date">
                    {{ event?.created_at | amTimeAgo }}
                  </div>
                </div>
                <div class="extra text">
                  <span [ngSwitch]="event?.type">
                    <span *ngSwitchCase="'CommitCommentEvent'">CommitCommentEvent</span>
                    <span *ngSwitchCase="'CreateEvent'">{{ event?.repo.name }}</span>
                    <span *ngSwitchCase="'DeleteEvent'">DeleteEvent</span>
                    <span *ngSwitchCase="'DeploymentEvent'">DeploymentEvent</span>
                    <span *ngSwitchCase="'DeploymentStatusEvent'">DeploymentStatusEvent</span>
                    <span *ngSwitchCase="'DownloadEvent'">DownloadEvent</span>
                    <span *ngSwitchCase="'FollowEvent'">FollowEvent</span>
                    <a *ngSwitchCase="'ForkEvent'">{{ event?.repo.name }}</a>
                    <span *ngSwitchCase="'ForkApplyEvent'">ForkApplyEvent</span>
                    <span *ngSwitchCase="'GistEvent'">GistEvent</span>
                    <span *ngSwitchCase="'GollumEvent'">GollumEvent</span>
                    <span *ngSwitchCase="'IssueCommentEvent'">IssueCommentEvent</span>
                    <span *ngSwitchCase="'IssuesEvent'">IssuesEvent</span>
                    <span *ngSwitchCase="'LabelEvent'">LabelEvent</span>
                    <span *ngSwitchCase="'MemberEvent'">MemberEvent</span>
                    <span *ngSwitchCase="'MembershipEvent'">MembershipEvent</span>
                    <span *ngSwitchCase="'MilestoneEvent'">MilestoneEvent</span>
                    <span *ngSwitchCase="'OrganizationEvent'">OrganizationEvent</span>
                    <span *ngSwitchCase="'PageBuildEvent'">PageBuildEvent</span>
                    <span *ngSwitchCase="'ProjectCardEvent'">ProjectCardEvent</span>
                    <span *ngSwitchCase="'ProjectColumnEvent'">ProjectColumnEvent</span>
                    <span *ngSwitchCase="'ProjectEvent'">ProjectEvent</span>
                    <a *ngSwitchCase="'PublicEvent'">{{ event?.repo.name }}</a>
                    <span *ngSwitchCase="'PullRequestEvent'">PullRequestEvent</span>
                    <span *ngSwitchCase="'PullRequestReviewEvent'">PullRequestReviewEvent</span>
                    <span *ngSwitchCase="'PullRequestReviewCommentEvent'">PullRequestReviewCommentEvent</span>
                    <span *ngSwitchCase="'PushEvent'">
                      <span *ngIf="event?.payload.commits"> Katkı(lar);
                        <ul>
                          <li *ngFor="let commit of event?.payload.commits">{{ commit.message }}</li>
                        </ul>
                      </span>
                    </span>
                    <span *ngSwitchCase="'ReleaseEvent'">ReleaseEvent</span>
                    <span *ngSwitchCase="'RepositoryEvent'">RepositoryEvent</span>
                    <span *ngSwitchCase="'StatusEvent'">StatusEvent</span>
                    <span *ngSwitchCase="'TeamEvent'">TeamEvent</span>
                    <span *ngSwitchCase="'TeamAddEvent'">TeamAddEvent</span>
                    <a *ngSwitchCase="'WatchEvent'">{{ event?.repo.name }}</a>
                    <span *ngSwitchDefault>{{ event?.type }}</span>
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="left floated four wide column">

        <h2 class="ui inverted header">
          <i class="github icon"></i>
          <div class="content">
            Projeler
          </div>
        </h2>

        <table class="ui inverted right aligned table">
          <thead>
            <th class="left aligned">Proje Adı</th>
            <th class="center aligned">Yıldız Sayısı</th>
            <th class="center aligned">Açık İş Sayısı</th>
          </thead>
          <tbody>
            <tr *ngFor="let repo of repos">
              <td class="left aligned">{{repo?.fork ? repo?.full_name : repo?.name}}</td>
              <td class="center aligned">{{repo?.stargazers_count}}</td>
              <td class="center aligned">{{repo?.open_issues_count}}</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="five wide column" style="padding-right: 2.5rem;">
        <h2 class="ui inverted header">
          <i class="users icon"></i>
          <div class="content">
            Takip Edilenler
          </div>
        </h2>
      </div>

    </div>
  </div>
</div>


<!--
<div class="meta">
  <a class="like">
    <i class="like icon"></i> 5 Likes
  </a>
</div>
 -->
