* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.25);
}

body {
  color: white!important;
  background-color: #1B1C1D;
  height: 97.25vh;
}

#menu {
  border-right: 0.25px solid rgba(255, 255, 255, .1);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#icerik {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 0.5rem;
}

.divider {
    color: white!important;
}

.summary, .summary > a, .date, .extra.text, .like {
    color: white!important;
}
