<div class="uk-tile uk-tile-default">

  <ul class="uk-breadcrumb">
    <li><a href="#" routerLink="/home">Ajanda</a></li>
    <li><a href="#" routerLink="/gitlab/home">GitLab</a></li>
    <li>
      <span href="#">Akış</span>
    </li>
  </ul>

  <div class="uk-position-right uk-margin uk-margin-right" style="padding-top: 1rem; padding-right: 1rem;">
    <a href="#" [routerLink]="['/gitlab/profile/' + user?.username]">
      <img class="uk-border-circle" width="30" height="30" [src]=[user?.avatar_url]>
    </a>
  </div>

  <hr class="uk-divider-icon">

  <div class="uk-section uk-section-default">
    <div class="uk-child-width-1-2@m" uk-grid>

      <!-- LEFT AREA -->
      <div>

      </div>
      <!--/LEFT AREA -->

      <!-- RIGHT AREA -->
      <div>
        <div class="uk-tile uk-tile-secondary uk-padding-small">

          <!-- PROJECT LIST -->
          <h4>Projeler <span class="uk-badge">{{ repos?.length }}</span></h4>
          <ul class="uk-list">
            <li *ngFor="let item of repos">
              <a [routerLink]="['/gitlab/repository/' + item?.path_with_namespace]">
                {{ item?.path_with_namespace }} <span class="uk-badge">{{ item?.star_count }}</span>
              </a>
            </li>
          </ul>
          <!--/PROJECT LIST -->

          <!-- GROUPS -->
          <h4>Gruplar <span class="uk-badge">{{ groups?.length }}</span></h4>
          <a href="#" *ngFor="let g of groups" [routerLink]="['/gitlab/group/' + g?.path]">
            <img class="uk-border-circle uk-margin-right uk-margin-bottom" width="40" height="40"
                src="{{ g?.avatar_url }}" title="{{ g?.name }}" uk-tooltip>
          </a>
          <!--/GROUPS -->

        </div>
      </div>
      <!--/RIGHT AREA -->

    </div>
  </div>

</div>
