<div class="uk-tile uk-tile-default">

  <ul class="uk-breadcrumb">
    <li><a href="#" routerLink="/home">Ajanda</a></li>
    <li><a href="#" routerLink="/github/home">GitHub</a></li>
    <li>
      <span href="#">Profil</span>
    </li>
  </ul>

  <div class="uk-position-right uk-margin uk-margin-right" style="padding-top: 1rem; padding-right: 1rem;">
    <a href="#" routerLink="/github/profile">
      <img class="uk-border-circle" width="30" height="30" [src]=[user?.avatar_url]>
    </a>
  </div>

  <hr class="uk-divider-icon">

  <div class="uk-section uk-section-default">
    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
