<div class="uk-tile uk-tile-default">

  <ul class="uk-breadcrumb">
    <li><a href="#" routerLink="/home">Ajanda</a></li>
    <li><a href="#" routerLink="/github/home">GitHub</a></li>
    <li>
      <span href="#">Akış</span>
    </li>
  </ul>

  <div class="uk-position-right uk-margin uk-margin-right" style="padding-top: 1rem; padding-right: 1rem;">
    <a href="#" [routerLink]="['/github/profile/' + user?.login]">
      <img class="uk-border-circle" width="30" height="30" [src]=[user?.avatar_url]>
    </a>
  </div>

  <hr class="uk-divider-icon">

  <div class="uk-section uk-section-default">
    <div class="uk-child-width-1-2@m" uk-grid>

      <!-- LEFT AREA -->
      <div>
        <ul class="uk-list">
          <li *ngFor="let item of receivedEvents; let i = index" [ngSwitch]="item.type">

            <app-github-flowitem *ngSwitchCase="'WatchEvent'"
              [image]="item?.actor.avatar_url"
              [tooltip]="item?.actor.login"
              [title]="'#' + i + ' - ' + item?.actor.login"
              [date]="item?.created_at"
              [content]="item?.repo.name + ' adresindeki projeyi favorilerine ekledi.'">
            </app-github-flowitem>

            <app-github-flowitem *ngSwitchCase="'ForkEvent'"
              [image]="item?.actor.avatar_url"
              [tooltip]="item?.actor.login"
              [title]="'#' + i + ' - ' + item?.actor.login"
              [date]="item?.created_at"
              [content]="item?.repo.name + ' adresindeki projeyi çatalladı.'">
            </app-github-flowitem>

            <app-github-flowitem *ngSwitchCase="'CreateEvent'"
              [image]="item?.actor.avatar_url"
              [tooltip]="item?.actor.login"
              [title]="'#' + i + ' - ' + item?.actor.login"
              [date]="item?.created_at"
              [content]="item?.repo.name + ' adresinde bir proje oluşturdu.'">
            </app-github-flowitem>

            <app-github-flowitem *ngSwitchCase="'PublicEvent'"
              [image]="item?.actor.avatar_url"
              [tooltip]="item?.actor.login"
              [title]="'#' + i + ' - ' + item?.actor.login"
              [date]="item?.created_at"
              [content]="item?.repo.name + ' adresindeki projeyi herkese açık hale getirdi.'">
            </app-github-flowitem>

            <app-github-flowitem *ngSwitchCase="'MemberEvent'"
              [image]="item?.actor.avatar_url"
              [tooltip]="item?.actor.login"
              [title]="'#' + i + ' - ' + item?.actor.login"
              [date]="item?.created_at"
              [content]="item?.payload.member.login + ' adlı kullanıcıyı ' + item?.repo.name + ' adresindeki proje ekibine ekledi.'">
            </app-github-flowitem>

            <app-github-flowitem *ngSwitchDefault
              [image]="item?.actor.avatar_url"
              [tooltip]="item?.actor.login"
              [title]="'#' + i + ' - ' + item?.actor.login"
              [date]="item?.created_at"
              [content]="item?.type + ' isimli olay türü için henüz içerik metni yazılmadı.'">
            </app-github-flowitem>

          </li>
        </ul>

        <!-- PAGINATION -->
        <ul class="uk-pagination uk-flex-center" uk-margin>
          <li *ngIf="activePage != 1"><a (click)="previousPage()" uk-scroll><span uk-pagination-previous></span></a></li>
          <li name="paginationItem" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]; let i = index" [id]="i+1" (click)="setPage(i + 1)" uk-scroll>
            <a>{{ i+1 }}</a>
          </li>
          <li *ngIf="activePage != 10"><a (click)="nextPage()" uk-scroll><span uk-pagination-next></span></a></li>
        </ul>
        <!--/PAGINATION -->

      </div>
      <!--/LEFT AREA -->

      <!-- RIGHT AREA -->
      <div>
        <div class="uk-tile uk-tile-secondary uk-padding-small">

          <!-- PROJECT LIST -->
          <h4>Projeler <span class="uk-badge">{{ repos?.length }}</span></h4>
          <ul class="uk-list">
            <li *ngFor="let item of repos">
              <a [routerLink]="['/github/repository/' + item?.full_name]">
                <span class="uk-margin-small-right" uk-icon="icon: github"></span>
                {{ item?.full_name }} <span class="uk-badge">{{ item?.language }}</span>
              </a>
            </li>
          </ul>
          <!--/PROJECT LIST -->

          <!-- FOLLOWINGS -->
          <h4>Takip Edilen Kişiler <span class="uk-badge">{{ followingUsers?.length }}</span></h4>
          <a href="#" *ngFor="let fu of followingUsers" [routerLink]="['/github/profile/' + fu?.login]">
            <img class="uk-border-circle uk-margin-right uk-margin-bottom" width="40" height="40"
                src="{{ fu?.avatar_url }}" title="{{ fu?.login }}" uk-tooltip>
          </a>
          <!--/FOLLOWINGS -->

        </div>
      </div>
      <!--/RIGHT AREA -->

    </div>
  </div>

</div>
