<div class="uk-position-center uk-overlay uk-overlay-default">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <img src="/assets/logo.png">

    <div class="uk-margin">
      <input class="uk-input" name="username" formControlName="username" type="text" placeholder="Kullanıcı Adı" required>
    </div>

    <div class="uk-margin">
      <input class="uk-input" name="password" formControlName="password" type="password" placeholder="Parola" required>
    </div>

    <button class="uk-button uk-button-primary" type="submit">KAYIT OL</button>

  </form>
</div>
